<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>

<body>

<h2>Login Form</h2>
<form id="loginform" action="/login" method="post">
  <label>User Name:</label>
    <input type="text" id="username" name="username" required >
    <br><br>
    <label>Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="login">
    <button type="button" onclick="resetForm()">Reset</button>
 
</form>
<script> 
    function resetForm() 
    {
        document.getElementById("loginform").reset();
    }

   </script>
</body>
</html>

